/* 

font-family: 'Abril Fatface', cursive;
font-family: 'Inter', sans-serif;

*/

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Inter', sans-serif;
    color: gold;
    text-shadow: 0.04em 0.04em .08em #474747;
}


#stock-price {
    font-size: 1rem;
}

.dad-joke {
    display: flex;
    flex-direction: column;
    padding: 0.5em 0.75em;
    border-radius: 1em;
    font-family: 'Abril Fatface', cursive;
}

#setup {
    text-align: center;
}

#punchline {
    text-align: center;
}